# user files
/files
/ufiles

# cache
/_cache
/_tmp
/libs/cache/
/backend/libs/cache/cache.storage/files/
/backend/libs/cache/cache.storage/*.ini
images
# supplier price files (not for repo)
/prices/
new/scratch_out/
