.preloader {
	display: none;
}

/** moved from main.css by @maestroprog */
.search-form {
	position: relative;
}

.search-form__button {
    background-position: -90px -66px;
    width: 35px;
    height: 35px;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url('/img/s-icon_gray.png');
}

.wrapp-sidebar-on .small-logo {
	display: none;
}

.counters{
    float: right;
    padding: 70px 5px 0px 0px;	
}

.txt-bg_green.accordion-item {
    position: relative;
}

.txt-bg_green.accordion-item:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13px 8.5px 0 8.5px;
    border-color: #ffffff transparent transparent transparent;
    position: absolute;
    top: 16px;
    margin-left: 20px;
} 

.txt-bg_green.accordion-item_on:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8.5px 13px 8.5px;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    top: 16px;
    margin-left: 20px;
}
/** endmove */