@font-face {
    font-family: 'comicsansms';
    src: url('../font/comic_sans_ms-webfont.eot');
    src: url('../font/comic_sans_ms-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/comic_sans_ms-webfont.woff') format('woff'),
         url('../font/comic_sans_ms-webfont.ttf') format('truetype'),
         url('../font/comic_sans_ms-webfont.svg#comicsansms') format('svg');
    font-weight: normal;
    font-style: normal;

}

 


@font-face {
    font-family: 'ptsansregular';
    src: url('../font/pt_sans-web-regular-webfont.eot');
    src: url('../font/pt_sans-web-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/pt_sans-web-regular-webfont.woff') format('woff'),
         url('../font/pt_sans-web-regular-webfont.ttf') format('truetype'),
         url('../font/pt_sans-web-regular-webfont.svg#ptsansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ptsansbold';
    src: url('../font/pt_sans-web-bold-webfont.eot');
    src: url('../font/pt_sans-web-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/pt_sans-web-bold-webfont.woff') format('woff'),
         url('../font/pt_sans-web-bold-webfont.ttf') format('truetype'),
         url('../font/pt_sans-web-bold-webfont.svg#ptsansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


.font1 {font-family: 'ptsansregular'; font-weight: normal;}
.font1_b {font-family: 'ptsansbold'; font-weight: normal;}

.font2 { font-family: 'comicsansms'; font-weight: normal;}