{reduce:nothing}
{mask:main}
{set:html}
<div class="advance">{register_html}</div>
{/}
                <div class="lk">
                    <div class="lk-tabs">
                        <div class="tab-menu">
                            <div class="tab-menu-one active">Физическое лицо</div>
                            <div class="tab-menu-one">Юридическое лицо</div>
                        </div>
                        <div class="tab-list">
                            <div class="tab-list-one" style="display: block;">
                                <div class="lk-cols clearfix">
                                	<div class="lk-col">
                                		<div class="lk-col__title">1. Личные данные</div>
                                		<form action="" method="post" id="personal-reg">
                                			<div class="form-line">
                                	            <label for="">ФИО</label>
                                	            <input placeholder="Введите ФИО" type="text" name="name">
                                	        </div>
                                	        <div class="form-line">
                                	            <label for="">Номер телефона</label>
                                	            <input placeholder="Введите номер телефона" type="text" name="phone">
                                	        </div>
                                	        <div class="form-line">
                                	            <label for="">Адрес доставки или терминал ТК:</label>
                                	            <input placeholder="Введите адрес" type="text" name="adres">
                                	        </div>
                                	        <div class="form-line">
                                	            <label for="">E-mail*:</label>
                                	            <input placeholder="Введите E-mail" type="text" name="email">
                                	        </div>
                                	        <div class="form-line">
                                				<label for="">Пароль*:</label>
                                				<input placeholder="Введите пароль" type="password" name="password">
                                			</div>
                                			<div class="form-line">
                                				<label for="">Повторите пароль*:</label>
                                				<input placeholder="Повторите пароль" type="password" name="password2">
                                			</div>
                                			<div class="form-line">
                                				<input type="checkbox" id="politic" name="politic" checked="checked">
                                				<label for="politic"><i></i>Согласен на обработку персональных данных <a href="/policy/">Политика конфиденциальности</a></label>
                                			</div>
                                	        <div class="form-line">
                                	            <button class="form-send">Зарегистрироваться</button>
                                	        </div>
                                		</form>
                                	</div>
                                	<div class="lk-col">

                                	</div>
                                </div>
                            </div>
                            <div class="tab-list-one">
                                <div class="lk-cols clearfix">
                                	<form action="" id="ul-reg">
                                		<div class="lk-col">
                                			<div class="lk-col__title">1. Данные организации</div>
                                	        <div class="form-line">
                                	            <label for="">Название организации:</label>
                                	            <input placeholder="Введите название организации" type="text" name="organization">
                                	        </div>
                                	       
                                	        <div class="form-line">
                                	            <label for="">ИНН:</label>
                                	            <input placeholder="Введите ИНН" type="text" name="inn">
                                	        </div>
                                			<div class="form-line">
                                				<label for="">КПП:</label>
                                				<input placeholder="Введите КПП" type="text" name="kpp">
                                			</div>
                                			<div class="form-line">
                                				<label for="">Юридический адрес:</label>
                                				<input placeholder="Введите  юридический адрес" type="text" name="uladress">
                                			</div>
                                			<div class="form-line">
                                				<label for="">Наименование банка:</label>
                                				<input placeholder="Введите наименование банка" type="text" name="bank">
                                			</div>
                                			<div class="form-line">
                                				<label for="">БИК:</label>
                                				<input placeholder="Введите БИК" type="text" name="bik">
                                			</div>
                                			<div class="form-line">
                                				<label for="">Расчетный счет:</label>
                                				<input placeholder="Введите расчетный счет" type="text" name="rs-chet">
                                			</div>
                                			
                                			<div class="form-line">
                                				<input type="checkbox" id="politic2" name="politic2" checked="checked">
                                				<label for="politic2"><i></i>Согласен на обработку персональных данных <a href="/policy/">Политика конфиденциальности</a></label>
                                			</div>
                                	        <div class="form-line">
                                	            <button class="form-send">Зарегистрироваться</button>
                                	        </div>
                                		</div>
                                		<div class="lk-col">
                                			<div class="lk-col__title">2. Личные данные</div>
                                			<div class="form-line">
                                	            <label for="">ФИО</label>
                                	            <input placeholder="Введите ФИО" type="text" name="name">
                                	        </div>
                                	        <div class="form-line">
                                	            <label for="">Номер телефона</label>
                                	            <input placeholder="Введите номер телефона" type="text" name="phone">
                                	        </div>
                                	        <div class="form-line">
                                	            <label for="">Адрес:</label>
                                	            <input placeholder="Введите адрес" type="text" name="adres">
                                	        </div>
                                	        <div class="form-line">
                                	            <label for="">E-mail*:</label>
                                	            <input placeholder="Введите E-mail" type="text" name="email">
                                	        </div>
                                	        <div class="form-line">
                                				<label for="">Пароль*:</label>
                                				<input placeholder="Введите пароль" type="password" name="password">
                                			</div>
                                			<div class="form-line">
                                				<label for="">Повторите пароль*:</label>
                                				<input placeholder="Повторите пароль" type="password" name="password">
                                			</div>
                                		</div>
                                	</form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{/mask}