<!DOCTYPE html>
<html>
<!--head//-->
<body>
	<header class="header">
	<!--header//-->
	<!--menu//-->
    </header>
    <!--search_page//-->
    <article class="content">
        <div class="wrap">
            <!--path//-->
            <h1 class="content__title"><!--name//--></h1>
			 <!--control_text//-->
        </div>
    </article>
    <footer class="footer">
        <div class="wrap">
    		<div class="footer-left">
				<!--copy//-->
    	        <a href="/policy/">Конфиденциальность и защита информации</a>
    		</div>
			<!--menu_footer//-->
    		<div class="footer-right">
    			<div class="footer-phone">
					<!--phone//-->
    			</div>
    			<div class="footer-adres">
					<!--address//-->
    			</div>
    		</div>
        </div>
    </footer>
	<!--modal//-->
	<!--counters//-->
</body>
</html>