{reduce:nothing} {mask:main}



<head lang="ru">

    <meta data-set charset="UTF-8">

    <title>{title}</title>

    <meta name="keywords" content="{keywords}">

    <meta name="viewport" content="width=1050">

    <meta name="description" content="{description}">

    <link rel="shortcut icon" href="/favicon.ico">







    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/libs/swiper/swiper-bundle.min.css">

    <link rel="stylesheet" href="/css/main.css?ver=2019082113156">

    <link rel="stylesheet" href="/css/viewer.css">

    <link rel="stylesheet" href="/css/photoviewer.min.css?ver=13-2.11">

    <!-- Подключение библиотек -->

    <script type="text/javascript" src="/js/lib.min.js?ver=1.01"></script>

    <script type="text/javascript" src="/libs/swiper/swiper-bundle.min.js"></script>

    <script type="text/javascript" src="/js/viewer.min.js"></script>

    <script type="text/javascript" src="/js/photoviewer.min.js"></script>

    <!-- Подключение пользовательски х скриптов -->

    <script type="text/javascript" src="/js/main.js?ver=16"></script>

    <script type="text/javascript" src="/js/ajax.js?ver=1.02"></script>

    <!-- Шрифты -->

    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700|PT+Serif:400,700&amp;subset=cyrillic" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&amp;subset=cyrillic" rel="stylesheet">

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>



    <!-- Yandex.Metrika counter -->

    <script type="text/javascript">

        (function(m, e, t, r, i, k, a) {

            m[i] = m[i] || function() {

                (m[i].a = m[i].a || []).push(arguments)

            };

            m[i].l = 1 * new Date();

            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)

        })

        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");



        ym(56637628, "init", {

            clickmap: true,

            trackLinks: true,

            accurateTrackBounce: true,

            webvisor: true

        });

    </script>

    <noscript><div><img src="https://mc.yandex.ru/watch/56637628" style="position:absolute; left:-9999px;" alt="" /></div></noscript>

    <!-- /Yandex.Metrika counter -->



    <!-- Yandex.Metrika counter -->

    <script type="text/javascript" >

       (function(m,e,t,r,i,k,a){ m[i]=m[i] || function() { (m[i].a=m[i].a || []).push(arguments) };

       m[i].l = 1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a) })

       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

     

       ym(86060427, "init", {

            clickmap:true,

            trackLinks:true,

            accurateTrackBounce:true,

            webvisor:true,

            ecommerce:"dataLayer"

       });

    </script>

    <noscript><div><img src="https://mc.yandex.ru/watch/86060427" style="position:absolute; left:-9999px;" alt="" /></div></noscript>

    <!-- /Yandex.Metrika counter -->

</head>

{/mask}